body {
    margin: 100px 400px;
}

h1 {
    font-style: oblique;
    text-align: center;
    background-color: antiquewhite;
    background-size: 6px 6px;
    margin: 80px 200px
}

label {
    margin-left: 250px;
    font-size: x-large;
}

input {
    display: block;
    margin-bottom: 3%;
    margin-left: 250px;
    font-size: large;
}

#lg {
    background-color: rgb(213, 174, 125);
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 330px;
    text-shadow: 2ch;
}

#lg:hover {
    background-color: rgb(157, 128, 91);
}