<!DOCTYPE html>
<html>
	<head>
		<title>
			Login
		</title>
		<link rel="stylesheet" href="/static/style/login.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js" integrity="sha512-PJa3oQSLWRB7wHZ7GQ/g+qyv6r4mbuhmiDb8BjSFZ8NZ2a42oTtAq5n0ucWAwcQDlikAtkub+tPVCw4np27WCg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	</head>
	<body>
		<h1>
			Login
		</h1>
		<form id="login-form">
			<label id="usrnm" for="username">Username:</label><br>
			<input type="text" id="username" name="username" placeholder="Enter Username"><br>
			<label id="pwd" for="pwd">Password:</label><br>
			<input type="password" id="pwd" name="pwd" placeholder="Enter Password"><br>
			<button id="lg">Login</button>
			<a id="signup" href="signup.html">Create new account</a>
		</form>
	</body>
</html>