<!DOCTYPE html>
<html>

<head>
    <title>
        myProfile
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style/myProfile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">


</head>

<body>
    <form>
        <div class="container">
            <div id="inline">
                <div class="image">
                    <img src="https://i.pinimg.com/564x/74/40/58/74405877fed7f9cae82c81bcb5658d0e.jpg" alt="Stephen">
                </div>
                <div class="text">

                    <div id="stats">
                        <div>
                            <p>Followers</p>
                            <p>50M</p>
                        </div>
                        <div>
                            <p>Following</p>
                            <p>5</p>
                        </div>
                    </div>

                    <button class="edit">
                        <span class="msg-edit">Edit</span>
                    </button>
                </div>
            </div>
            <h1>MAHAR</h1>
            <p class="title">The coolest team</p>
            <div class="widget-post" aria-labelledby="post-header-title">
                <form id="widget-form" class="widget-post__form" name="form" aria-label="post widget">
                    <div class="widget-post__content">
                        <textarea name="post" class="widget-post__textarea "
                            placeholder="What's in your mind?"></textarea>
                    </div>
                    <div class="post-actions__widget">
                        <button class="post-actions__publish">Post</button>
                    </div>
                </form>
            </div>

            <div id="users-post">
                <div class="container1">
                    <button class="profile">
                        <img src="https://i.pinimg.com/564x/74/40/58/74405877fed7f9cae82c81bcb5658d0e.jpg"
                            class="profile-img">
                    </button>
                    <div class="user-text">
                        <h1>MAHAR</h1>
                        <h2>4/8/2024</h2>
                    </div>
                </div>
                <br>
                <p class="post-content" rows="15"> pla pla pla pla pla</p>
                <div class="reactions">
                    <button class="action"><i class="fa-solid fa-heart"></i> love</button>
                    <button class="action"><i class="fa-sharp fa-solid fa-comments"></i> comment</button>
                </div>
            </div>


    </form>
</body>

</html>