* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(125, 117, 46, 0.345));
}

label {
    border-radius: 50;
}

#navbar {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.nav-flex {
    flex: 1;
}

#search-flex {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

}

#search-flex label {
    font-size: 30px;
}

#search {
    margin-left: 10px;
    font-size: 15px;
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    background-color: rgb(213, 174, 125);
}

.profile {
    border-radius: 50%;

    border: 5px solid rgb(91, 63, 25);
    cursor: pointer;
    height: 50px;
    width: 50px;
    margin: 0;
    padding: 0;

    overflow: hidden;

}

.profile-img {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
}

#logOut {
    border-radius: 50%;
    border-style: solid;
    height: 50px;
    width: 50px;
    margin: 0;
    padding: 0;
    margin-left: 10px;
    background-color: rgb(157, 128, 91);
}

#user-post {
    width: 500px;
    margin: 30px auto;
    text-align: center;
    padding: 20px;
    background-color: rgb(157, 128, 91);
    border-radius: 20px;
    text-align: left;
}
#user-post h1 {
    font-size: 30px;
    color: white;
    font-weight: 200;
    margin-bottom: 10px;
}

#create_post {
    background: rgb(213, 174, 125);
    height: 30px;
    width: 50px;
    display: block;
    width: 100%;
    border: none;
    margin-top: 5px;
    color: black;
}
#users-post {
   
    border-top: 10px;
    border-radius: 10px;
    width: fit-content;
    margin: 2 auto;
    text-align: center;
    padding: 10px;
    background-color: rgb(157, 128, 91);

}
.container{
    display: flex;
    align-items: center;
}

.reactions {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.action {
    border: none;
    background: transparent;
    margin: 0;
    padding: 0;
    flex: 1;
    cursor: pointer;
    background: rgb(213, 174, 125);
    padding: 5px 10px;
    border-radius: 5px;
}
.action + .action {
    margin-left: 10px;
}
.user-text {
    text-align: left;
    margin-left: 10px;
}
.user-text h1 {
    font-size: 18px;
}
.user-text h2 {
    font-size: 15px;
    color: rgb(76, 47, 10);
    font-weight: 100;
}
#input-post, .post-content {
    background: rgb(213, 174, 125);
    color: black;
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    resize: none;
}
.post-content {
    text-align: left;
}

#buttons {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

* {
    box-sizing: border-box;
}
form.example {
    display: flex;
}
/* Style the search field */
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

/* Style the submit button */
form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: rgb(157, 128, 91);
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.example button:hover {
    background: rgb(213, 174, 125);
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}