body {
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(125, 117, 46, 0.345));
}


h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(222, 200, 168);
    background-size: 6px 6px;
    width: 400px;
    margin: 10% auto 40px;
}

form {
    width: 300px;
    margin: 0 auto;
}

label {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    width: 300px;
    display: block;
    margin-bottom: 3%;
    font-size: large;
    background-color: rgba(235, 219, 194, 0.512);
    border-color: rgba(165, 42, 42, 0.081);
}


#lg {
    background-color: rgb(213, 174, 125);
    font-family: Arial, Helvetica, sans-serif;
    border-color: rgba(165, 42, 42, 0.255);
    text-align: center;
    font-size: x-large;
    border-radius: 5px;
    padding: 10px 0;
    width: 300px;
    margin-bottom: 20px;
}

#lg:hover {
    background-color: rgb(157, 128, 91);
}

#signup {
    display: block;
    background-color: rgba(213, 173, 125, 0.142);
    border-color: rgba(165, 42, 42, 0.312);
    color: black;
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    border-radius: 5px;
    padding: 11px 0;
}

#signup:hover {
    background-color: rgba(157, 128, 91, 0.262);
    color: black;
    text-decoration: none;
}