body {
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(125, 117, 46, 0.345));
}

img {
    display: inline;

    width: 150px;
    border-radius: 50%;
}

.container {
    width: 700px;
    margin: 0 auto;
}

.image {
    flex: 1;
}

#inline {
    display: flex;
    align-items: center;
}

#stats {
    width: 100%;
    display: flex;
}

#stats div {
    flex: 1;
    text-align: center;
}

#stats div p:nth-of-type(1) {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: -10px;
}

.text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 20px;
    flex: 3;
    display: flex;
    flex-direction: column;

}

h1 {
    font-family: 'Lucida Sans',
        'Lucida Sans Regular',
        'Lucida Grande',
        'Lucida Sans Unicode',
        Geneva,
        Verdana,
        sans-serif;
    font-size: l;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

pre {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

button {
    background-color: rgba(213, 173, 125, 0.848);
    border: none;
    color: rgb(7, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px auto;
    cursor: pointer;
    border-radius: 10px;
    width: 50%;
}

button:hover {
    background-color: rgba(157, 128, 92, 0.848);
}

@media (max-width: 900px) {
    .container {
        width: 90%;
    }
}

.widget-post {
    width: 600px;
    border-radius: 6px;
    box-shadow: 0 1px 2px 1px rgba(130, 130, 130, 0.1);
    background-color: #f5ddb1;
    margin: auto;
    overflow: hidden;
}

.widget-post__content {
    width: 100%;
    height: 100px;
}

.widget-post__textarea {
    background-image: linear-gradient(to right, rgba(227, 197, 163, 0.334), rgba(181, 150, 66, 0.345));
    width: 100%;
    height: 100%;
    font-size: larger;
    border: none;
    resize: none;
}

.post-actions__widget {
    position: relative;
    background-color: #1f140415;
    color: #d0c290;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 4px;
    display: flex;
    align-items: center;
}

.post-actions__publish {
    padding: .5em 1em;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: block;
    width: 120px;
    height: 30px;
}

.post-actions__widget:hover {
    background-color: #1f140458;
}

/* *  Placeholder contrast * */

::-webkit-input-placeholder {
    color: #674f247e;
}