body {
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(125, 117, 46, 0.345));
}

img {
    display: inline;

    width: 150px;
    border-radius: 50%;
}

.container {
    width: 700px;
    margin: 0 auto;
}

.image {
    flex: 1;
}

#inline {
    display: flex;
    align-items: center;
}

#stats {
    width: 100%;
    display: flex;
}

#stats div {
    flex: 1;
    text-align: center;
}

#stats div p:nth-of-type(1) {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: -10px;
}

.text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 20px;
    flex: 3;
    display: flex;
    flex-direction: column;

}

h1 {
    font-family: 'Lucida Sans',
        'Lucida Sans Regular',
        'Lucida Grande',
        'Lucida Sans Unicode',
        Geneva,
        Verdana,
        sans-serif;
    font-size: l;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}



.follow {
    background-color: rgba(213, 173, 125, 0.848);
    border: none;
    color: rgb(7, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px auto;
    cursor: pointer;
    border-radius: 10px;
    width: 50%;
}

.follow:hover {
    background-color: rgb(172, 147, 117);
}


#users-post {

    border-top: 10px;
    border-radius: 10px;
    width: fit-content;
    padding: 10px;
    width: 400px;
    margin: 0 auto;
    background-color: rgb(157, 128, 91);

}

.container1 {
    display: flex;
    align-items: center;
}

.reactions {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.action {
    border: none;
    background: transparent;
    margin: 0;
    padding: 0;
    flex: 1;
    cursor: pointer;
    background: rgb(213, 174, 125);
    padding: 5px 10px;
    border-radius: 5px;
}

.action:hover {
    background-color: rgb(172, 147, 117);
}

.action+.action {
    margin-left: 10px;
}

.user-text {
    text-align: left;
    margin-left: 10px;
}

.user-text h1 {
    text-align: left;
    font-size: 18px;
}

.user-text h2 {
    font-size: 15px;
    color: rgb(76, 47, 10);
    font-weight: 100;
}

.post-content {
    background: rgb(213, 174, 125);
    color: black;
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    resize: none;
    text-align: left;
}


#buttons {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

* {
    box-sizing: border-box;
}

form.example {
    display: flex;
}



form.example::after {
    content: "";
    clear: both;
    display: table;
}

.profile {
    background-color: transparent;
    border: none;
}

.profile-img {
    height: 60px;
    width: 60px;
    margin-right: 100%;
    margin-bottom: 0%;
}

@media (max-width: 900px) {
    .container {
        width: 90%;
    }
}