body {
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(125, 117, 46, 0.345));
}

img {
    display: inline;

    width: 150px;
    border-radius: 50%;
}

.container {
    width: 700px;
    margin: 0 auto;
}

.image {
    flex: 1;
}

#inline {
    display: flex;
    align-items: center;
}

#stats {
    width: 100%;
    display: flex;
}

#stats div {
    flex: 1;
    text-align: center;
}

#stats div p:nth-of-type(1) {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: -10px;
}

.text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 20px;
    flex: 3;
    display: flex;
    flex-direction: column;

}

h1 {
    font-family: 'Lucida Sans',
        'Lucida Sans Regular',
        'Lucida Grande',
        'Lucida Sans Unicode',
        Geneva,
        Verdana,
        sans-serif;
    font-size: l;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

pre {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

button {
    background-color: rgba(213, 173, 125, 0.848);
    border: none;
    color: rgb(7, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px auto;
    cursor: pointer;
    border-radius: 10px;
    width: 50%;
}
button:hover{
    background-color: rgb(172, 147, 117);
}
#users-post {
    border-top: 10px;
    border-radius: 10px;
    width: fit-content;
    margin: 2 auto;
    text-align: center;
    padding: 10px;
    background-color: rgb(157, 128, 91);

}

#avatar {
    border-radius: 50%;

    border-style: solid;
    height: 50px;
    width: 50px;
    text-align: right;
    margin: 0;
    padding: 0;

    overflow: hidden;

}

@media (max-width: 900px) {
    .container {
        width: 90%;
    }
}