body {
    background-image: linear-gradient(to right, #b4c8d5, #d5eaf8ac);}


h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    text-align: center;
    border-radius: 5px;
    background-color: #998C73;
        background-size: 6px 6px;
    width: 400px;
    margin: 10% auto 40px;
}

form {
    width: 300px;
    margin: 0 auto;
}

label {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    width: 300px;
    display: block;
    margin-bottom: 3%;
    font-size: large;
    background-color: #998c7340;
        border-color: rgba(165, 42, 42, 0.081);
}




#signup {
    display: block;
    background-color: #867458b9;
        border-color: rgba(165, 42, 42, 0.312);
    color: black;
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    border-radius: 5px;
    padding: 11px 0;
    width: 300px;
}

#signup:hover {
    background-color: #898462;
    color: black;
    text-decoration: none;
}