* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(125, 117, 46, 0.345));
}

img {
    display: inline;

    width: 150px;
    border-radius: 50%;
    border: 2px solid rgb(76, 47, 10);
}

.container {
    width: 700px;
    margin: 20px auto;
}

.image {
    flex: 1;
}

#inline {
    display: flex;
    align-items: center;
}

#stats {
    width: 100%;
    display: flex;
}

#stats div {
    flex: 1;
    text-align: center;
}

#stats div p:nth-of-type(1) {
    font-size: 20px;
    font-weight: bold;
}

.text {
    padding-left: 20px;
    flex: 3;
    display: flex;
    flex-direction: column;

}

h1 {
    font-size: l;
}


.edit {
    background-color: rgba(213, 173, 125, 0.848);
    border: none;
    color: rgb(7, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px auto 0;
    cursor: pointer;
    border-radius: 10px;
    width: 50%;
}
.edit:hover{
        background-color: rgb(172, 147, 117);
}

@media (max-width: 900px) {
    .container {
        width: 90%;
    }
}

.widget-post {
    width: 600px;
    border-radius: 6px;
    box-shadow: 0 1px 2px 1px rgba(130, 130, 130, 0.1);
    background-color: #f5ddb1;
    margin:  20px auto;
    overflow: hidden;
    margin-bottom: 30px;
}

.widget-post__content {
    width: 100%;
    height: 100px;
}

.widget-post__textarea {
    background-image: linear-gradient(to right, rgba(227, 197, 163, 0.334), rgba(181, 150, 66, 0.345));
    width: 100%;
    height: 100%;
    font-size: larger;
    border: none;
    resize: none;
}

.post-actions__widget {
    background-color: #1f140415;
    color: #d0a690;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 4px;
    display: flex;
    align-items: center;
}

.post-actions__publish {
        position: relative;
    padding: .5em 1em;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: block;
    width: 120px;
    height: 30px;
    text-align: center;
    align-items: center;
    margin:0 auto;
}

.users-post {

    border-top: 10px;
    border-radius: 10px;
    width: fit-content;
    margin: 2 auto;
    text-align: center;
    padding: 10px;
    width: 400px;
    margin: 10px auto;
    background-color: rgb(157, 128, 91);

}

.container1 {
    display: flex;
    align-items: center;
}

.reactions {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.action {
    border: none;
    background: transparent;
    margin: 0;
    padding: 0;
    flex: 1;
    cursor: pointer;
    background: rgb(213, 174, 125);
    padding: 5px 10px;
    border-radius: 5px;
}

.action:hover {
    background-color: rgb(172, 147, 117);
}

.action+.action {
    margin-left: 10px;
}

.user-text {
    text-align: left;
    margin-left: 10px;
}

.user-text h1 {
    font-size: 18px;
}

.user-text h2 {
    font-size: 15px;
    color: rgb(76, 47, 10);
    font-weight: 100;
}

.post-content {
    background: rgb(213, 174, 125);
    color: black;
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    resize: none;
    text-align: left;
}


#buttons {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

* {
    box-sizing: border-box;
}

form.example {
    display: flex;
}



form.example::after {
    content: "";
    clear: both;
    display: table;
}

.profile {
    background-color: transparent;
    border: none;
}

.profile-img {
    height: 60px;
    width: 60px;
    margin-right: 100%;
    margin-bottom: 0%;
}


.comment {
    display: flex;
    width: 100%;
    background: rgb(213, 174, 125);
    margin-top: 10px;
    align-items: center;
    padding: 10px;
    text-align: left;
    border-radius: 10px;
}
.comment .comment-img img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.comment .comment-content {
    flex: 1;
    margin-left: 10px;
}
.comment .comment-content h1 {
    font-size: 13px;
    color: rgb(76, 47, 10);
    margin: 0;
}
.comment .comment-content p {
    font-size: 13px;
    margin: 0;
}

.comment-box {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.comment-box img {
    width: 50px;
    height: 50px;
}
.user-comment {
    text-align: left;
    margin-left: 10px;
    flex: 1;

}

.user-comment h1 {
    font-size: 15px;
    margin-bottom: 4px;

}

.comment-input {
    font-size: 15px;
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    background-color: rgb(213, 174, 125);
    width: 100%;
    flex: 1;
}

.flex-comment-area {
    display: flex;
}

#post-comment {
    display: flex;
}

.post-the-comment {
    background: rgb(213, 174, 125);
    height: 30px;
    width: 50px;
    display: block;
    border: none;
    border-radius: 20px;
    color: rgb(35, 32, 32);
    margin-left: 5px;
}
.post-actions__widget:hover {
    background-color: #1f140458;
}

/* *  Placeholder contrast * */

::-webkit-input-placeholder {
    color: #674f247e;
}