* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {

	background: rgb(240, 240, 240);
}


#navbar {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: rgb(226, 226, 226);
    border-bottom: 1px solid rgb(201, 201, 201);
}

#navbar .nav-flex {
    flex: 1;
}
#navbar .nav-flex a {
    text-decoration: none;
    font-size: 25px;
    color: black;
	font-family: cursive;
}
#navbar #search-flex {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

}

#navbar #search-flex label {
    font-size: 30px;
}

#navbar #search {
    margin-left: 10px;
    font-size: 15px;
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    background-color: rgb(213, 174, 125);
}

#navbar .profile {
    border-radius: 50%;

	border: 2px solid rgb(199, 199, 199);
    cursor: pointer;
    height: 50px;
    width: 50px;
    margin: 0;
    padding: 0;

    overflow: hidden;

}

#navbar .profile-img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#navbar #logOut {
    border-radius: 50%;
	border: none;
    height: 50px;
    width: 50px;
    margin: 0;
    padding: 0;
    margin-left: 10px;
	background-color: rgb(228, 44, 44);
	color: white;
	font-size: 18px;
}

#navbar #buttons {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}


form.example {

    display: flex;
	border-radius: 10px;
	overflow: hidden;
	height: 50px;
    background-color: rgb(201, 201, 201);
	padding: 5px;
}

/* Style the search field */
form.example input[type=text] {
    font-size: 17px;
	padding: 0 15px;
	border: none;
    float: left;
	flex: 1;
    background-color: rgb(201, 201, 201);
	outline: none;
}

/* Style the submit button */
form.example button {
    float: left;
	width: 40px;
	height: 40px;
    padding: 10px;
    background: rgb(228, 44, 44);
    color: white;
    font-size: 18px;
    border-radius: 7px;
	border: none;
    cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;	
}

form.example button:hover {
    background: rgb(213, 174, 125);
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

img {
    display: inline;

    width: 150px;
    border-radius: 50%;
}

.container {
    width: 700px;
    margin: 20px auto;
}

.image {
    flex: 1;
}

.image img {
    border: 2px solid rgb(199, 199, 199);
}
#inline {
    display: flex;
    align-items: center;
}

#stats {
    width: 100%;
    display: flex;
}

#stats div {
    flex: 1;
    text-align: center;
}

#stats div p:nth-of-type(1) {
    font-size: 20px;
    font-weight: bold;
}

.text {
    padding-left: 20px;
    flex: 3;
    display: flex;
    flex-direction: column;

}

h1 {
    font-size: l;
}


.edit {
    background-color: rgb(228, 44, 44);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px auto 0;
    cursor: pointer;
    border-radius: 10px;
    width: 50%;
}
.edit:hover{
    background-color: rgb(136, 16, 16);
}

@media (max-width: 900px) {
    .container {
        width: 90%;
    }
}

.widget-post {
    width: 600px;
    border-radius: 6px;
    box-shadow: 0 1px 2px 1px rgba(130, 130, 130, 0.1);
    background-color: #f5ddb1;
    margin:  20px auto;
    overflow: hidden;
    margin-bottom: 30px;
}

.widget-post__content {
    width: 100%;
    height: 100px;
}

.widget-post__textarea {
    background-image: linear-gradient(to right, rgba(227, 197, 163, 0.334), rgba(181, 150, 66, 0.345));
    width: 100%;
    height: 100%;
    font-size: larger;
    border: none;
    resize: none;
}

.post-actions__widget {
    background-color: #1f140415;
    color: #d0a690;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 4px;
    display: flex;
    align-items: center;
}

.post-actions__publish {
        position: relative;
    padding: .5em 1em;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: block;
    width: 120px;
    height: 30px;
    text-align: center;
    align-items: center;
    margin:0 auto;
}

.users-post {

    border-top: 10px;
    border-radius: 10px;
    width: fit-content;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
    width: 500px;
    background: rgb(226, 226, 226);
	border: 1px solid rgb(168, 168, 168);

}

.container1 {
    display: flex;
    align-items: center;
}

.reactions {
    display: flex;
    margin-top: 10px;
    align-items: center;
}
.reactions p {
    margin-left: 10px;
    font-weight: 600;
	color: rgb(228, 44, 44);
}

.action {
    background: transparent;
    margin: 0;
    padding: 0;
    cursor: pointer;
    background: rgb(228, 44, 44);
	color: white;
    padding: 5px 10px;
    border-radius: 5px;
	border: none;
}

.action:hover {
    background-color: rgb(172, 147, 117);
}

.user-text {
    text-align: left;
    margin-left: 10px;
}

.user-text h1 {
    text-align: left;
    font-size: 18px;
}

.user-text h2 {
    font-size: 15px;
    color: black;
    font-weight: 100;
}

.post-content {
    
    color: black;
    border: none;
    outline: none;
    width: 100%;
    border-radius: 5px;
    resize: none;
    text-align: left;
	padding: 0;
	margin: -10px 0 20px 0;
}


#buttons {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

* {
    box-sizing: border-box;
}

form.example {
    display: flex;
}



form.example::after {
    content: "";
    clear: both;
    display: table;
}

.profile {
    background-color: transparent;
    border: none;
}

.profile-img {
    height: 60px;
    width: 60px;
    margin-right: 100%;
    margin-bottom: 0%;
}


.comment {
    
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px 0;
    text-align: left;
}

.comment + .comment {
	border-top: 1px solid rgb(202, 202, 202);
}
.comment .comment-img img {

    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.comment .comment-content {
    flex: 1;
    margin-left: 10px;
}
.comment .comment-content h1 {
    font-size: 13px;
    color: rgb(65, 65, 65);
    margin: 0;
}
.comment .comment-content p {
    font-size: 13px;
    margin: 0;
}

.comment-box {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.comment-box img {
    width: 50px;
    height: 50px;
}
.user-comment {
    text-align: left;
    margin-left: 10px;
    flex: 1;

}

.user-comment h1 {
    font-size: 15px;
    margin-bottom: 4px;

}

.comment-input {
    font-size: 15px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(201, 201, 201);
    width: 100%;
    flex: 1;
}

.flex-comment-area {
    display: flex;
}

#post-comment {
    display: flex;
}

.post-the-comment {
    
    background: rgb(228, 44, 44);
    height: 30px;
    width: 50px;
    display: block;
    border: none;
    border-radius: 5px;
    color: white;
    margin-left: 5px;
}
.post-actions__widget:hover {
    background-color: #1f140458;
}

/* *  Placeholder contrast * */

::-webkit-input-placeholder {
    color: #674f247e;
}